#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}
# Install homebrew if necessary
if ! hash brew &> /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
# Install base packages
/opt/homebrew/bin/brew install bash nano wget less

{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian") }}
# Install base packages
sudo apt-get install --yes bash nano wget curl less
{{- if eq .chezmoi.arch "arm" }}
# "arm" (i.e. armv7 i.e. not arm64) doesn't have python wheels for a couple of packages, so get prereqs
sudo apt-get install libffi-dev libsodium-dev
{{- end }}
{{- end }}
